# Application environment
NG_APP_ENV=development

# Site
NG_APP_SITE_URL=http://localhost:4200
NG_APP_AUTHOR_NAME=Hugo Fernando Colmenares
NG_APP_AUTHOR_EMAIL=your.email@example.com

# Social links
NG_APP_GITHUB_URL=https://github.com/HugoFernandoColmenares
NG_APP_LINKEDIN_URL=https://www.linkedin.com/in/hugofcolmenaresc/

# Optional resources
NG_APP_CV_URL=
NG_APP_CONTACT_API_URL=
