.project-form {
  max-width: var(--admin-form-max);
}

.project-form .admin-form__field--checkbox {
  padding-top: 0;
}

@media (min-width: 641px) {
  .project-form .admin-form__field--checkbox {
    padding-top: 2.4rem;
  }
}
