<section class="project-creator">
  @if (viewMode() === 'list') {
    <app-project-table
      [projects]="projects()"
      [loading]="loading()"
      [labels]="tableLabels()"
      [categoryOptions]="categoryOptions()"
      (addProject)="onAddProject()"
      (viewProject)="onViewProject($event)"
      (editProject)="onEditProject($event)"
      (deleteProject)="onDeleteProject($event)"
    />
  } @else {
    <app-project-form
      [mode]="formMode()"
      [project]="selectedProject()"
      [loading]="saving()"
      [labels]="formLabels()"
      [categoryOptions]="categoryOptions()"
      (saveProject)="onSaveProject($event)"
      (cancelForm)="onCancelForm()"
    />
  }
</section>
